
<div *ngIf="producto; else noProducto">
  <h1>{{ producto.nombre }}</h1>
  <div class="row animated fadeIn fast">
    <div class="col-md-4">
      <img [src]="producto.img" class="img-thumbnail" [alt]="producto.nombre">
      <br><br>
      <a [routerLink]="['/productos']" class="btn btn-outline-danger btn-block">Volver</a>
    </div>
    <div class="col-md-8">
      <p>{{ producto.descripcion }}</p>
      <h3>Precio: ${{ producto.precio }}</h3>
      <button class="btn btn-primary">Comprar</button>
    </div>
  </div>
</div>

<ng-template #noProducto>
  <div class="alert alert-warning">
    Producto no encontrado.
    <a [routerLink]="['/productos']" class="btn btn-outline-danger">Volver a productos</a>
  </div>
</ng-template>